body{
    background-image: url(assets/default\ background.jpg);
    background-size: contain;
    background-position: fixed;
}
.heading{
    text-align: center;
    background-color: #21616E;
}
.input-field{
    background-color: #21616E;
    display: flex;
    justify-content: center;
}