html { 
    background: url("https://source.unsplash.com/random/1920x1080/?nature") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.title{
    color: #b7c7d7;
}

.heading{
    text-align: center;
    background-color: #545c5f;
    border-radius: 15px;
}

.main-weather-info{
    text-align: center;
}
#submit{
    border-radius: 50%;
    border: none;
}
#city-name{
    border: none;
    border-radius: 80px;
}

.weather{
    background-color: #545c5f;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 480px;
}
.extra-stats{
    display: flex;
    flex-direction: column;
    width: 300px;
}

.row-1{
    display: flex;
    justify-content: space-around;
}
.row-2{
    display: flex;
    justify-content: space-around;
}
.stat{
    display: flex;
    flex-direction: column;
    width: 45px;
}